@media (min-width: 992px) {
    .container-max-width {
        margin: 0 auto;
        width: 992px;
    }
}

html, footer, .navbar-default {
    background-color: #eee;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #ccc;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ccc;
}

img {
    max-width: 100%;
}

footer {
    margin-top: 2em;
    border-top: 1px solid #eee;
    padding-top: 1em;
    color: #ccc;
}

.next {
    text-align: right;
}

#homepage-hero {
    background-color: #360c60;
    color: #ccc;
    min-height: 150px;
}

#homepage-hero > div > * {
    color: #fff;
}

.related > div {
    margin-bottom: 0.5em;
}

.alert-cookie{
    margin-bottom: 0;
    background-color: #222; 
    color: #eee;
    border-radius: 0;   
}

.alert-cookie .close{
    color: #eee;
    opacity: 0.8;
}

.alert-cookie .close:hover{
    opacity: 0.5;
}