@media (min-width: 992px) {
    .container-max-width {
        margin: 0 auto;
        width: 992px;
    }
}

img {
    max-width: 100%;
}

footer {
    margin-top: 2em;
    border-top: 1px solid #eee;
    padding-top: 1em;
    color: #ccc;
}

.next {
    text-align: right;
}

#homepage-hero {
    background-color: #360c60;
    color: #ccc;
    min-height: 200px;
}

#homepage-hero h1 {
    color: #fff;
}

.related > div {
    margin-bottom: 0.5em;
}